VITE_DEV_PORT=5172
VITE_MODE="development"

VITE_DATA_SHIFT_TEST=0
VITE_DATA_SHIFT_LIVE=0

VITE_API_BASE_URL_TEST="http://localhost:2000/api"
VITE_API_BASE_URL_LIVE="https://dbms.fiberxinnovations.com/api"

VITE_IMG_MAX_SIZE=
VITE_VIDEO_MAX_SIZE=
VITE_FILE_MAX_SIZE=

VITE_APP_CONTENT_DATA_URL="https://gist.githubusercontent.com/Ojooh/en_us.json"
VITE_LOCAL_STORAGE_KEY_FIELD_NAME=

